$color-accent: #AF9AC9;
$color-background: #666161;
$color-text: #E9E3DE;
$color-primary: #A5937B;
$color-secondary: #E3C49B;

$spring-easing: linear(0, 0.0018, 0.0069 1.15%, 0.026 2.3%, 0.0637,
    0.1135 5.18%, 0.2229 7.78%, 0.5977 15.84%,
    0.7014, 0.7904, 0.8641, 0.9228, 0.9676 28.8%,
    1.0032 31.68%, 1.0225, 1.0352 36.29%, 1.0431 38.88%,
    1.046 42.05%, 1.0448 44.35%, 1.0407 47.23%,
    1.0118 61.63%, 1.0025 69.41%, 0.9981 80.35%,
    0.9992 99.94%);

$spring-duration: 0.8333s;

@font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/NeueMontreal-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Migra";
    src: url("/fonts/Migra-Extralight.ttf") format("truetype");
}

@font-face {
    font-family: "Tusker";
    src: url("/fonts/TuskerGrotesk-3500Medium.ttf") format("truetype");
}

body {
    background-color: $color-background;
}

* {
    margin: 0;
    padding: 0;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 1rem;
}



h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    color: $color-text
}

p {
    font-family: Migra, sans-serif;
}

h1 {
    font-family: Tusker, sans-serif;
    font-size: 3rem;
}

h2 {
    font-size: 1.25rem;
}

.montreal {
    font-family: NeueMontreal, sans-serif !important;
}

* {
    transition: transform $spring-duration $spring-easing;
}


a {
    position: relative;
    display: inline-block;

    color: $color-text;
    text-decoration: none;

    padding: 0.1em 0.35em;
    z-index: 1;

    font-family: NeueMontreal, sans-serif;

    &::before {
        content: "";
        position: absolute;

        inset: 0;

        background: $color-accent;

        transform:
            translate(0px, 1px) rotate(-2deg);

        z-index: -1;

        border-radius: 2px;

        transition:
            transform 0.25s ease,
            background 0.25s ease;
    }

    &:hover::before {
        transform:
            translate(0px, 2px) rotate(1deg);

        background: $color-secondary;
    }
}